<div class="flex-container d-flex justify-content-center">
    <h2>Rezervasyon</h2>
</div>
<div class="row px-2 py-3 no-gutters">
    <form class="w-100">
        <mat-form-field class="w-100">
            <mat-label>İsim Soyisim</mat-label>
            <input [(ngModel)]="reservation.fullName" name="fullName" matInput placeholder="İsim Soyisim...">
        </mat-form-field>

        <mat-form-field class="w-100" color="accent" appearance="fill">
            <mat-label>Custom calendar color</mat-label>
            <input [(ngModel)]="reservation.reservationDate" name="reservationDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary"></mat-datepicker>
        </mat-form-field>

        <table class="w-100 m-0">
            <tr>
                <td>
                    <mat-form-field>
                        <mat-label>Yetişkin</mat-label>
                        <input [(ngModel)]="reservation.adultCount" name="adultCount" matInput placeholder="Yetişkin sayısı...">
                    </mat-form-field>
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    <mat-form-field>
                        <mat-label>Çocuk</mat-label>
                        <input [(ngModel)]="reservation.childCount" name="childCount" matInput placeholder="Çocuk sayısı...">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-form-field class="w-100">
            <mat-label>Telephone</mat-label>
            <input [(ngModel)]="reservation.phoneNumber" name="phoneNumber" type="tel" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Mesajınız</mat-label>
            <textarea [(ngModel)]="reservation.specifications" name="specifications" matInput placeholder="Mesajınız..."></textarea>
        </mat-form-field>

        <button (click)="onSubmit()" class="col-6 py-2 btn btn-dark">Gönder</button>
    </form>
</div>

