<div class="flex-container d-flex justify-content-center">
    <h2>Rezervasyon</h2>
</div>
<div class="row px-2 py-3 no-gutters">
    <form class="w-100">
        <mat-form-field class="w-100 my-3">
            <mat-label>İsim Soyisim</mat-label>
            <input [(ngModel)]="reservation.fullName" [ngModelOptions]="{standalone: true}" name="fullName" matInput placeholder="İsim Soyisim..." required>
        </mat-form-field>

        <mat-form-field class="w-100 my-3" color="accent" appearance="fill">
            <mat-label>Tarih</mat-label>
            <input [min]="today" [(ngModel)]="reservation.reservationDate" [ngModelOptions]="{standalone: true}" name="reservationDate" matInput [matDatepicker]="picker" required readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary"></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-100 my-3">
            <mat-label>Saat</mat-label>
            <input matInput [(ngModel)]="time" [ngModelOptions]="{standalone: true}" [ngxTimepicker]="toggleTimepicker" [format]="24" required readonly>
            <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
        </mat-form-field>

        <mat-form-field class="w-100 my-3">
            <mat-label>Yetişkin</mat-label>
            <input [(ngModel)]="reservation.adultCount" [ngModelOptions]="{standalone: true}" required type="number" min="1" max="500" value="2" matInput placeholder="Yetişkin sayısı...">
        </mat-form-field>

        <mat-form-field class="w-100 my-3">
            <mat-label>Çocuk</mat-label>
            <input [(ngModel)]="reservation.childCount" [ngModelOptions]="{standalone: true}" type="number" min="0" max="20" value="0" matInput placeholder="Çocuk sayısı...">
        </mat-form-field>

        <mat-form-field class="w-100 my-3">
            <mat-label>Telefon</mat-label>
            <input type="tel" [(ngModel)]="reservation.phoneNumber" [ngModelOptions]="{standalone: true}" matInput placeholder="5555551234" required>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="w-100 my-3">
            <mat-label>Mesajınız</mat-label>
            <textarea [(ngModel)]="reservation.specifications" [ngModelOptions]="{standalone: true}" name="specifications" matInput placeholder="Mesajınız..."></textarea>
        </mat-form-field>

        <button (click)="onSubmit()" class="col-6 py-2 submit-button btn btn-dark">Gönder</button>
    </form>
</div>

