<div class="header p-0 d-flex justify-content-end">
    <div class="py-2 px-5 btn-login" [routerLink]="['smartmenu/home']">
        <div>
            <mat-icon class="nav-item-icon">home</mat-icon>
            <span class="nav-item-text">Home</span>
        </div>
    </div>
    <div class="py-2 px-5 btn-login" *ngIf="isLogged" [routerLink]="['admin/menu']">
        <div>
            <mat-icon class="nav-item-icon">admin_panel_settings</mat-icon>
            <span class="nav-item-text">Admin Panel</span>
        </div>
    </div>
    <div class="py-2 px-5 btn-login" *ngIf="isLogged" (click)="logout()">
        <div>
            <mat-icon class="nav-item-icon">exit_to_app</mat-icon>
            <span class="nav-item-text">Çıkış Yap</span>
        </div>
    </div>
    <div class="py-2 px-5 btn-login" *ngIf="!isLogged" [routerLink]="['/login']">
        <div>
            <mat-icon class="nav-item-icon">login</mat-icon>
            <span class="nav-item-text">Giriş Yap</span>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="footer align-content-center">
    <p style="text-align: center;line-height:45px;font-weight: bold; font-size: 13px">© 2020 by
        <a style="font-size: 15px;color: white; text-decoration: underline; font-weight: bold" href="https://evercode.net" target="_blank">EverCode</a>
    </p>
</div>
