.logo {
  min-width: 200px;
  color: white;
}

.logo h3 {
  margin: auto 5px;
}

.logo-img {
  float: right;
  margin: 10px;
  height: 30px;
}

.header {
  z-index: 9999;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: white;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.75);
}

.btn-login {
  background-color: #151515;
  padding: 15px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  outline: none;
}

.btn-login :hover {
  color: #666666;
}

.nav-item-text {
  vertical-align: center;
  margin: 0;
  padding: 0;
}

.header ul {
  width: 100%;
  margin: 10px;
  list-style: none;
}

.header ul li {
  margin: 0 10px;
}

.nav-item-icon {
  vertical-align: middle;
}

.whatsapp {
  position: fixed;
  cursor: pointer;
  right: 20px;
  bottom: 20px;
}

.whatsapp-icon {
  width: 80px;
  height: 80px;
}

.top-menu-container {
  display: none !important;
}

.toggle-side-menu {
  outline: none;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .top-menu-container {
    display: flex !important;
  }

  .toggle-side-menu {
    display: none;
  }
}
