<br>
<div *ngIf="currentProduct">
    <h1 class="item-name">{{currentProduct.name}}</h1>
    <div class="row W-100 no-gutters justify-content-center align-items-center">
        <div class="image-container">
            <img class="item-img" src="{{currentProduct.imgUrl}}" alt="{{currentProduct.name}}"
                 #image (error)="image.onerror=null; image.src = 'assets/no-image.jpg';">
            <div *ngIf="isFavEnabled" class="favorite">
                <mat-icon *ngIf="favoriteService.isFavorite(currentProduct.id)"
                          (click)="favoriteService.removeFavorite(currentProduct.id)">favorite
                </mat-icon>
                <mat-icon *ngIf="!favoriteService.isFavorite(currentProduct.id)"
                          (click)="favoriteService.addFavorite(currentProduct.id)">favorite_border
                </mat-icon>
            </div>
        </div>
    </div>
    <div class="m-3 flex-container d-flex justify-content-center">
        <div class="border rounded-lg pl-1 pr-1">
            <p>{{currentProduct.price}}</p>
            <p>TL</p>
        </div>
        <div class="border rounded-lg" (click)="onLike(currentProduct)">
            <p>{{currentProduct.likes}}</p>
            <mat-icon [ngClass]="{'active': (storageService.getItem('likes') || []).includes(currentProduct.id)}" class="like-icon">
                thumb_up
            </mat-icon>
        </div>
    </div>
    <p class="item-description">{{currentProduct.description}}</p>
</div>
