<br>
<div *ngIf="menuService.currentProduct">
    <h1 class="item-name">{{menuService.currentProduct.name}}</h1>
    <div class="row W-100 no-gutters justify-content-center align-items-center">
        <div class="image-container">
            <img class="item-img" src="{{menuService.currentProduct.imgUrl}}" alt="{{menuService.currentProduct.name}}"
                 #image (error)="image.onerror=null; image.src = 'assets/no-image.jpg';">
            <div *ngIf="menuService.isFavEnabled" class="favorite">
                <mat-icon *ngIf="favoriteService.isFavorite(menuService.currentProduct.id)"
                          (click)="favoriteService.removeFavorite(menuService.currentProduct.id)">favorite
                </mat-icon>
                <mat-icon *ngIf="!favoriteService.isFavorite(menuService.currentProduct.id)"
                          (click)="favoriteService.addFavorite(menuService.currentProduct.id)">favorite_border
                </mat-icon>
            </div>
        </div>
    </div>
    <div class="m-3 flex-container d-flex justify-content-center">
        <div class="border rounded-lg pl-1 pr-1">
            <p>{{menuService.currentProduct.price}}</p>
            <p>₺</p>
        </div>
        <div *ngIf="menuService.isLikeEnabled" class="border rounded-lg" (click)="onLike(menuService.currentProduct)">
            <p>{{menuService.currentProduct.likes}}</p>
            <mat-icon [ngClass]="{'active': menuLocalService.getLikes().includes(menuService.currentProduct.id)}" class="like-icon">
                thumb_up
            </mat-icon>
        </div>
    </div>
    <p class="item-description">{{menuService.currentProduct.description}}</p>
</div>
