<br>
<h1 class="category-name">{{currentCategory?.name}}</h1>
<div class="row m-1 justify-content-center">
    <div class="col p-2 item align-content-end"
         *ngFor="let item of currentCategory?.products">

        <img class="item-img"
             [routerLink]="[item.name.toLowerCase().replaceAll(' ','-')]"
             (click)="productClick(item.id)"
             #image (error)="image.onerror=null; image.src = 'assets/no-image.jpg';"
             src="{{item.imgUrl}}" alt="{{item.name}}">
        <div class="item-name"
             [routerLink]="[item.name.toLowerCase().replaceAll(' ','-')]"
             (click)="productClick(item.id)">
            <h3>{{item.name}}</h3>
        </div>
        <hr class="item-line">
        <p class="description"
           [routerLink]="[item.name.toLowerCase().replaceAll(' ','-')]"
           (click)="productClick(item.id)">{{item.description}}</p>
        <div class="row w-100 m-0">
            <div class="col d-flex justify-content-center align-items-center"
                 [routerLink]="[item.name.toLowerCase().replaceAll(' ','-')]"
                 (click)="productClick(item.id)">
                {{item.price}}&nbsp;<sub>TL</sub>
            </div>
            <div *ngIf="isFavEnabled" class="col d-flex border-left border-white justify-content-center align-items-center">
                <mat-icon class="favorite" *ngIf="favoriteService.isFavorite(item.id)" (click)="favoriteService.removeFavorite(item.id)">favorite</mat-icon>
                <mat-icon class="favorite" *ngIf="!favoriteService.isFavorite(item.id)" (click)="favoriteService.addFavorite(item.id)">favorite_border</mat-icon>
            </div>
            <div *ngIf="isLikeEnabled" class="col border-left border-white d-flex justify-content-center align-items-center"
                (click)="onLike(item)">{{item.likes}}&nbsp;
                <mat-icon [ngClass]="{'active': menuLocalService.getLikes().includes(item.id)}"
                          style="vertical-align: middle;margin-bottom: 3px">thumb_up_alt</mat-icon>
            </div>
        </div>
    </div>
</div>
