.category-name {
  width: 100%;
  font-weight: bolder;
  text-align: center;
}

.favorite {
  color: red;
  border-color: red;
  position: absolute;
  font-size: 1.7em;
}

.like-div {
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  align-items: center;
  color: #343A40;
}

.price-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  color: #343A40;
  border-right: 1px solid #343A40;
}

.price-like-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  background-color: white;
  padding: 5px 0;
  border-radius: 3px;
}

.item {
  color: aliceblue;
  margin: 35px 5px 5px 25px;
  cursor: pointer;
  border-radius: 7px;
  background-color: #424242;
  min-width: 300px;
  z-index: 99;
}

.item-img {
  top: -24px;
  left: -24px;
  position: relative;
  float: left;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  object-fit:cover;
}

.item-name {
  position: relative;
  left: -10px;
  font-weight: bolder;
}

.description {
  position: relative;
  margin-top: -10px;
  margin-left: 20px;
  top: -20px;
  left: -10px;
  text-align: justify;
  font-family: "Merriweather", serif;
  font-style: italic;
}

.item-line {
  position: relative;
  margin-left: 88px;
  top: -20px;
  background-color: white;
}

.active {
  color: dodgerblue;
}
