<h1 class="header">REZERVASYONLAR</h1>
<div class="row d-flex justify-content-center">
    <div *ngFor="let reservation of reservations"
         class="reservation my-3 mx-2 p-2 bg-dark rounded col-10 col-md-5 col-lg-3">
        <p class="reservation-name">{{reservation.fullName}}</p>
        <div class="phone-date-container">
            <mat-icon class="reservation-icon">phone</mat-icon>
            <span class="reservation-phone-date">{{reservation.phoneNumber}}</span>
        </div>
        <div class="phone-date-container">
            <mat-icon class="reservation-icon">event</mat-icon>
            <span class="reservation-phone-date">{{convertDateString(reservation.reservationDate)}}</span>
        </div>
        <p *ngIf="reservation.specifications" class="reservation-comment">{{reservation.specifications}}</p>
        <div class="bottom-container">
            <span style="font-weight: bolder">{{reservation.adultCount}} Yetişkin</span>
            <span style="font-weight: bolder">{{reservation.childCount}} Çocuk</span>
        </div>
    </div>
</div>
