<div class="row back-container m-3 p-3">
    <mat-icon class="back-button" [routerLink]="['/menu']">arrow_back</mat-icon>
</div>
<div class="row m-1 justify-content-center">
    <div class="col item m-1 p-0 border border-dark"
         *ngFor="let item of storageService.getItem('category').items"
         (click)="storageService.setItem('item', item)"
         [routerLink]="['/item']">
        <div class="favorite">
            <mat-icon *ngIf="storageService.favorites.includes(item.id)" (click)="removeFavorite(item)">favorite</mat-icon>
            <mat-icon *ngIf="!storageService.favorites.includes(item.id)" (click)="addFavorite(item)">favorite_border</mat-icon>
        </div>
        <img class="item-img" src="{{item.image}}" alt="">
        <p class="item-name">{{item.name}}</p>
        <p class="item-price">{{item.price + " TL"}}</p>
        <p class="description">{{item.content}}</p>
    </div>
</div>
