.category-name {
  width: 100%;
  font-weight: bolder;
  text-align: center;
}

.favorite {
  cursor: pointer;
  top: 1px;
  right: 1px;
}

mat-icon {
  font-size: 1.5em;
  z-index: 999;
}

.item {
  color: aliceblue;
  margin: 35px 5px 5px 25px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #424242;
  min-height: 100px;
  min-width: 300px;
}

@keyframes item-hover {
  from {top: 0;} to {top: -2px;}
  from {box-shadow: 0 0;} to {box-shadow: 0 0 7px black;}
}

.item:hover {
  animation-name: item-hover;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.item-img {
  top: -30px;
  left: -30px;
  position: relative;
  float: left;
  border-radius: 3px;
  width: 100px;
  height: 100px;
}

.item-name {
  position: relative;
  left: -10px;
  font-weight: bolder;
}

.description {
  position: relative;
  margin-top: -10px;
  margin-left: 20px;
  top: -30px;
  left: -10px;
  text-align: justify;
  font-family: "Merriweather", serif;
  font-style: italic;
}

.item-price {
  left: -10px;
  margin: -40px 2px 2px;
  width: 100%;
  text-align: right;
  float: bottom;
}

.item-line {
  position: relative;
  margin-left: 88px;
  top: -25px;
  background-color: white;
}
