.back-container {
  color: black;
}

.back-button {
  cursor: pointer;
}

.item {
  cursor: pointer;
  max-width: 250px;
  border-radius: 10px;
}

.item-img {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 248px;
  max-height: 200px;
}

.item-name {
  font-weight: bolder;
  text-align: center;
}

.description {
  text-align: center;
}

.favorite {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 10px;
}

.favorite mat-icon {
  font-size: 2em;
  z-index: 999;
}
