.back-container {
  color: black;
  position: relative;
}

.back-button {
  position: absolute;
  cursor: pointer;
}

<<<<<<< Updated upstream
.category-name {
  width: 100%;
  text-align: center;
}

.item {
  cursor: pointer;
  max-width: 250px;
  border-radius: 10px;
}
=======
>>>>>>> Stashed changes
@keyframes item-hover {
  from {top: 0;} to {top: -2px;}
  from {box-shadow: 0 0;} to {box-shadow: 0 0 7px black;}
}

.item:hover {
  animation-name: item-hover;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.item-name {
  font-weight: bolder;
  text-align: center;
  margin: 5px;
}

.item-price {
  text-align: center;
  margin: 2px;
}

.description {
  text-align: center;
  margin: 5px;
  font-family: "Merriweather", serif;
  font-style: italic;
}

.favorite {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 10px;
  color: aliceblue;
}

.favorite mat-icon {
  font-size: 2em;
  z-index: 999;
}

.item-img {
  border-radius: 3px;
  width: 100px;
  height: 100px;
  position: relative;
  margin-bottom: -50px;
  z-index: 10;
}

.item {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  background-color: #424242;
  margin-left: 20px;
  min-height: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
}


.item-texts {
  color: aliceblue;
}

.item-container {
  position: relative;
}
