<div class="row back-container m-3 p-3">
    <mat-icon class="back-button" [routerLink]="['/menu']">arrow_back</mat-icon>
</div>
<div class="row m-3">
    <div class="col item m-3 p-3 border rounded-lg"
         *ngFor="let item of menuService.selectedCategory.items"
         (click)="menuService.selectedItem = item"
         [routerLink]="['/item']">
        <img class="item-img" src="{{item.image}}" alt="">
        <p class="item-name">{{item.name + " " + item.price + " TL"}}</p>
        <p class="description">{{item.content}}</p>
    </div>
</div>
