<h3 class="ml-5 mt-3">My Favorites</h3>
<div class="row ml-5 p-0 myfavorites justify-content-center">
    <div class="col item m-1 p-0 border border-dark"
         *ngFor="let item of favoriteService.getFavorites()"
         (click)="storageService.setItem('item', item)"
         [routerLink]="['/item']">
        <div class="favorite">
            <mat-icon *ngIf="favoriteService.isFavorite(item.id)" (click)="favoriteService.removeFavorite(item)">close</mat-icon>
        </div>
        <img class="item-img" src="{{item.image}}" alt="">
        <p class="item-name">{{item.name}}</p>
        <p class="item-price">{{item.price + " TL"}}</p>
        <p class="description">{{item.content}}</p>
    </div>
</div>
<hr>
<div class="row m-3 justify-content-center">
    <div class="col category m-1"
         *ngFor="let category of menu.content"
         (click)="storageService.setItem('category', category)"
        [routerLink]="['/submenu']">
        <img class="category-img" src="{{category.mainmedia}}" alt="">
        <p class="category-name">{{category.name}}</p>
    </div>
</div>
