.header {
  position: sticky;
  z-index: 9999;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #151515;
  color: white;
}

.back-button {
  cursor: pointer;
  outline: none;
}

.logo-img {
  float: right;
  margin: 10px;
  height: 30px;
}

.top-menu {
  color: white;
  position: sticky;
  bottom: 0;
  z-index: 99;
}

.top-menu div {
  background-color: #252525;
}

.top-menu p {
  margin-bottom: 0;
}
