<div style="display: flex; flex-direction: column; justify-content: center; padding: 0 40px; min-width: 400px">
    <h2 style="text-align: center">Yeni Kategori</h2>
    <div style="display: flex; align-items: center; justify-content: center">
        <img (click)="addPhotoClick()" class="item-img col-2" [src]="category.imgUrl ? category.imgUrl : '../../../assets/no-image.jpg'">
        <input id="name" class="form-control col-8" [(ngModel)]="category.name" value="{{category.name}}"/>
    </div>
    <div style="display: flex;">
        <button (click)="saveClick()" style="flex: 1; margin: 10px 8px" class="btn btn-success">Kaydet</button>
        <button (click)="cancelClick()" style="flex: 1; margin: 10px 8px" class="btn btn-outline-light">İptal</button>
    </div>
</div>
