<div class="row back-container m-3">
    <mat-icon class="back-button" [routerLink]="['/submenu']">arrow_back</mat-icon>
</div>
<div class="row W-100 m-0 p-0 justify-content-center">
    <div class="image-container">
        <img class="item-img" src="{{item.image}}" alt="{{item.name}}">
        <div class="favorite">
            <mat-icon *ngIf="favoriteService.isFavorite(item.id)" (click)="favoriteService.removeFavorite(item)">favorite</mat-icon>
            <mat-icon *ngIf="!favoriteService.isFavorite(item.id)" (click)="favoriteService.addFavorite(item)">favorite_border</mat-icon>
        </div>
    </div>
</div>
<br>
<h3 class="item-name">{{item.name}}</h3>
<p class="item-price">{{item.price + ' TL'}}</p>
<p class="item-description">{{item.content}}</p>
