.menu-button {
  background-color: #232323;
  border: none;
  color: white;
  border-radius: 0;
  outline: none;
}

.menu-button :focus {
  outline: none;
  border: none;
}

.menu-button :active {
  outline: none;
  border: none;
}

.menu-button :hover {
  color: #666666;
}

.button-text {
  display: none;
}

@media only screen and (min-width: 1336px) {
  .button-text {
    display: block;
  }
}
