<div class="row w-100 flex-container d-flex justify-content-center no-gutters">
    <button class="pt-3 pb-1 flex-fill" [routerLink]="['menu']">
        <mat-icon>view_list</mat-icon>
        <span class="button-text">Menü Düzenle</span>
    </button>
    <button class="pt-3 pb-1 flex-fill" [routerLink]="['campaigns']">
        <mat-icon>loyalty</mat-icon>
        <span class="button-text">Kampanyalar</span>
    </button>
    <button class="pt-3 pb-1 flex-fill" [routerLink]="['reports']">
        <mat-icon>analytics</mat-icon>
        <span class="button-text">Raporlar</span>
    </button>
    <button class="pt-3 pb-1 flex-fill" [routerLink]="['reservations']">
        <mat-icon>assignment_turned_in</mat-icon>
        <span class="button-text">Rezervasyonlar</span>
    </button>
    <button class="pt-3 pb-1 flex-fill" [routerLink]="['comments']">
        <mat-icon>grading</mat-icon>
        <span class="button-text">Yorumlar</span>
    </button>
</div>
<router-outlet></router-outlet>
