<div class="row w-100 m-0 p-3 col-sm-12 d-flex justify-content-center">
    <button *ngIf="userService.isOrderEnabled" class="btn save-order mx-0 mx-lg-2 my-1 my-lg-0 col-sm-12 col-md-5 col-lg-3 col-lg-3"
            [ngClass]="{'btn-secondary': !campaignsArranged, 'btn-success': campaignsArranged}" (click)="campaignArrangeSave()">Sıralamayı Kaydet
    </button>
    <button class="btn add-product mx-0 mx-lg-2 my-1 my-lg-0 btn-outline-dark col-sm-12 col-md-5 col-lg-3 col-lg-3"
            (click)="insertCampaign()">Kampanya Ekle
    </button>
</div>

<hr>
<div class="d-flex flex-column" cdkDropList (cdkDropListDropped)="arrangeCampaign($event)">
    <h2 class="w-100 text-center">Aptif Kampanyalar</h2>
    <app-admin-product-card [products]="campaignService.activeCampaigns"></app-admin-product-card>
</div>

<hr>
<div class="d-flex flex-column">
    <h2 class="w-100 text-center">Geçmiş Kampanyalar</h2>
    <app-admin-product-card [products]="campaignService.passiveCampaigns"></app-admin-product-card>
</div>
