h1, p {
  font-family: Optima, serif;
}

.banner-img {
  position: absolute;
  top: 60px;
  z-index: 10;
  height: 50vh;
  left: 0;
}

.demo-button-mobile {
  color: #F4511E;
  border: 1px solid #F4511E;
  border-radius: 30px;
  padding: 1rem;
  font-size: 1em;
  width: 70%;
  z-index: 99;
  margin: auto;
}

.advantage {
  //background: radial-gradient(circle, #FF6D00, #DD2C00);
  border-radius: 15px;
}

.advantage h1 {
  text-align: center;
  //color: white;
  font-size: 1.2em;
}

.advantage p {
  text-align: center;
  //color: white;
  font-size: 0.9em;
}

.advantage mat-icon {
  margin-top: 20px;
  color: #f75e01;
  width: 100%;
  text-align: center;
  font-size: 7em;
}

.title {
  margin: 0;
  padding: 2% 10%;
  width: 100%;
  overflow: hidden;

  h1 {
    margin: 0;
    width: 100%;
    line-height: 1.5;
    font-size: 2em;
    text-align: center;
  }
}

.what-is-menu-mobile {
  margin: 0;
  padding: 2% 10%;
  width: 100%;
  overflow: hidden;

  h1 {
    margin: 0;
    width: 100%;
    line-height: 1.5;
    font-size: 2em;
    text-align: center;
  }

  p {
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
  }
}

.package {
  border-radius: 20px !important;
  //background: radial-gradient(circle,  #FF6D00, #DD2C00);
  background-color: #f75e01;
  padding: 20px;
}

.package button {
  display: block;
  margin: 10px auto;
  width: 50% !important;
}

.package .bottom-hr {
  display: block;
  margin: 10px auto;
  width: 50%;
  background-color: white;
}

.discount-text {
  font-size: 2em;
  text-align: center;
  color: gold;
}

.package-name {
  font-size: 2em !important;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin: 20px;
}

.package-description {
  font-size: 1rem;
  text-align: center;
  color: white;
}

.offer {
  height: 6em;
}

.offer .col {
  padding: 0 !important;
}

.offer .currency {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
}

.offer .price {
  font-size: 6em !important;
}

.offer .unit {
  font-size: 2em;
  position: absolute;
  bottom: 0;
}

.features button {
  margin-top: 30px;
  border-radius: 30px;
  width: 100%;
}

.offer-features .mat-list-base .mat-list-item {
  color: white !important;
}

.not-offer-features .mat-list-base .mat-list-item mat-icon {
  color: darkgray !important;
}

.not-offer-features .mat-list-base .mat-list-item p {
  color: darkgray !important;
  text-decoration: line-through;
}

.offer-features p {
  margin-left: 5px;
  margin-bottom: 0;
}

.not-offer-features p {
  margin-left: 5px;
  margin-bottom: 0;
}

.submit-button {
  color: #FF6D00;
  border-radius: 30px;
  border: 1px solid #FF6D00;
}

@media only screen and (min-width: 768px) {

  .demo-button-mobile {
    display: none;
  }

  .package-name {
    font-size: 5em;
    font-weight: bolder;
    margin: 20px;
  }

  .features .price {
    font-size: 2em;
  }

  .advantage mat-icon {
    font-size: 8em;
  }

  .what-is-menu-mobile {
    display: none;
  }

  .banner-img {
    height: 60vh;
  }
}

@media only screen and (min-width: 1366px) {

  .advantages {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .package-name {
    font-size: 5em;
    font-weight: bolder;
    margin: 20px;
  }

  .features .price {
    font-size: 2em;
  }

  .advantage mat-icon {
    font-size: 8em;
  }

  .package, .advantage {
    max-width: 400px !important;
  }

}

@media only screen and (min-width: 1440px) {
  .advantages {
    padding-left: 18% !important;
    padding-right: 18% !important;
  }
}
