<img class="banner-img" src="assets/mockup.jpg">
<div class="row w-100 header overlay-text">
    <h1>Akıllı Menü Nedir?</h1>
    <p>Akıllı Menü, EverCode tarafından geliştirilmiş ve restoran ve kafelerein menü içeriklerini müşterilerine dinamik ve dijital bir şekilde sunmaya
        olanak tanır. Sağladığı müşteri deneyimine ve işletme sahibine yönelik özellikleri ile sektörün en iyisi konumundadır. İşletmeniz için Akıllı
        Menü entegrasyonu yapmak oldukça kolaydır. Dakikalar içinde işletme hesabınızı oluşturabilir ve ürünleri dahil edebilirsiniz.</p>
    <button type="button" [routerLink]="['/menu/brand1']" class="btn mt-5 btn-danger demo-button">Akıllı Menü Demo</button>
</div>
<hr>
<div class="row w-100 header">
    <h1>Akıllı Menü Avantajları</h1>
</div>
<div class="row w-100 m-0 advantages d-flex justify-content-center">
    <div class="col-sm-3 col-md-7 col-lg-3 shadow advantage m-3"
    *ngFor="let advantage of advantages">
        <mat-icon>{{advantage.icon}}</mat-icon>
        <h1>{{advantage.title}}</h1>
        <p>{{advantage.decription}}</p>
    </div>
</div>
<br>
<br>
<hr>
<div class="row w-100 header">
    <h1>Özellikler</h1>
</div>
<div class="row w-100 m-0 px-5 py-3 d-flex justify-content-center">
    <div class="col-sm-3 col-md-5 col-lg-3 m-3 p-3 text-center shadow"
         *ngFor="let feature of features; let i = index;">
        <mat-icon style="font-size: 40px;" [style.color]="colors[i%colors.length]">{{feature.icon}}</mat-icon>
        <h1>{{feature.title}}</h1>
    </div>
</div>
<br>
<br>
<hr>
<div class="row w-100 header">
    <h1>Paketler</h1>
</div>
<div class="row w-100 m-0 mb-5 features d-flex justify-content-center">
    <div class="col-sm-3 col-md-10 m-3 col-lg-3 shadow package rounded-lg">
        <h1 class="discount-text">
            <del>50$</del>
            50% İndirim
        </h1>
        <hr>
        <h1 class="package-name">VIP</h1>
        <p class="package-description">İşletme imajınızla fark yaratın</p>
        <br>
        <div class="row w-100 m-0 offer text-white">
            <div class="col">
                <p class="currency">$</p>
            </div>
            <div class="col text-center d-flex align-items-center">
                <p class="price">25</p>
            </div>
            <div class="col d-flex align-content-end">
                <p class="unit">/ ay</p>
            </div>
        </div>
        <button type="button" class="btn btn-outline-light btn-lg">Hemen Al</button>
        <hr class="bottom-hr">
        <div class="offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features">
                    <mat-icon>{{feature.icon}}</mat-icon>
                    <p> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="col-sm-3 col-md-5 col-lg-3 m-3 shadow package rounded-lg">
        <h1 class="discount-text">
            <del>40$</del>
            50% İndirim
        </h1>
        <hr>
        <h1 class="package-name">PRO
            <mat-icon color="warn">local_fire_department</mat-icon>
        </h1>
        <p class="package-description">İşletmenizi geliştirin</p>
        <br>
        <div class="row w-100 m-0 offer text-white">
            <div class="col">
                <p class="currency">$</p>
            </div>
            <div class="col text-center d-flex align-items-center">
                <p class="price">20</p>
            </div>
            <div class="col d-flex align-content-end">
                <p class="unit">/ ay</p>
            </div>
        </div>
        <button type="button" class="btn bg-light btn-lg">Hemen Al</button>
        <hr class="bottom-hr">
        <div class="offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features.slice(0,12)">
                    <mat-icon>{{feature.icon}}</mat-icon>
                    <p> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="not-offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features.slice(12)">
                    <mat-icon>{{feature.icon}}</mat-icon>
                    <p> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="col-sm-3 col-md-5 col-lg-3 m-3 shadow package rounded-lg">
        <h1 class="discount-text">
            <del>30$</del>
            50% İndirim
        </h1>
        <hr>
        <h1 class="package-name">STD</h1>
        <p class="package-description">Menünüzü dijitalleştirin</p>
        <br>
        <div class="row w-100 m-0 offer text-white">
            <div class="col">
                <p class="currency">$</p>
            </div>
            <div class="col text-center d-flex align-items-center">
                <p class="price">15</p>
            </div>
            <div class="col d-flex align-content-end">
                <p class="unit">/ ay</p>
            </div>
        </div>
        <button type="button" class="btn btn-outline-light btn-lg">Hemen Al</button>
        <hr class="bottom-hr">
        <div class="offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features.slice(0, 7)">
                    <mat-icon>{{feature.icon}}</mat-icon>
                    <p> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="not-offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features.slice(7)">
                    <mat-icon>{{feature.icon}}</mat-icon>
                    <p> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
