h1, p {
  font-family: Optima, serif;
}

.banner-img {
  position: absolute;
  top: 60px;
  z-index: 10;
  width: 100%;
  left: 0;
}

.banner-div {
  height: 80vh;
  background-image: linear-gradient(to right, #DD2C00 , #FF6D00);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

.btn-nav {
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  font-weight: 300;

  :hover {
    color: #F49A8B;
  }
}

.logo-img {
  margin-left: 10px;
  height: 30px;
}

.top-menu-container {
  display: none !important;
}

.logo {
  min-width: 200px;
  color: white;
}

.logo h3 {
  margin: auto 5px;
}

.demo-button {
  display: block;
  margin: auto;
}

.advantage {
  background: rgb(178,63,251);
  background: radial-gradient(circle, rgba(178,63,251,1) 0%, rgba(83,70,252,1) 100%);
  border-radius: 15px;
}

.advantage h1 {
  text-align: center;
  color: white;
  font-size: 2em;
}

.advantage p {
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.advantage mat-icon {
  margin-top: 20px;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 7em;
}

.header {
  margin: 0;
  padding: 2% 10%;
  width: 100%;
  overflow: hidden;
}

.header h1 {
  margin: 0;
  width: 100%;
  line-height: 1.5;
  font-size: 3em;
  text-align: center;
}

.header p {
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 1.5;
  font-size: 1.2em;
}

.package {
  border-radius: 20px !important;
  background: rgb(178,63,251);
  background: radial-gradient(circle, rgba(178,63,251,1) 0%, rgba(83,70,252,1) 100%);
  padding: 20px;
}

.package button {
  display: block;
  margin: 10px auto;
  width: 50% !important;
}

.package .bottom-hr {
  display: block;
  margin: 10px auto;
  width: 50%;
  background-color: white;
}

.discount-text {
  font-size: 2em;
  text-align: center;
  color: gold;
}

.package-name {
  font-size: 2em !important;
  text-align: center;
  color: white;
  font-weight: bolder;
  margin: 20px;
}

.package-description {
  font-size: 1rem;
  text-align: center;
  color: white;
}

.offer {
  height: 6em;
}

.offer .col {
  padding: 0 !important;
}

.offer .currency {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
}

.offer .price {
  font-size: 8em !important;
}

.offer .unit {
  font-size: 2em;
  position: absolute;
  bottom: 0;
}

.features button {
  margin-top: 30px;
  border-radius: 30px;
  width: 100%;
}

.offer-features .mat-list-base .mat-list-item {
   color: white !important;
}

.not-offer-features .mat-list-base .mat-list-item mat-icon {
   color: darkgray !important;
}

.not-offer-features .mat-list-base .mat-list-item p {
  color: darkgray !important;
  text-decoration: line-through;
}

.offer-features p {
  margin-left: 5px;
  margin-bottom: 0;
}

.not-offer-features p {
  margin-left: 5px;
  margin-bottom: 0;
}

@media only screen and (min-width: 577px){
  .banner-img {
    width: 60%;
  }
}

@media only screen and (min-width: 769px) {

  .top-menu-container {
    display: flex !important;
  }

  .side-nav-btn {
    display: none;
  }

  .demo-button {
    padding: 1rem;
    font-size: 1.5em;
    width: 50%;
    z-index: 99;
  }

  .package-name {
    font-size: 5em;
    font-weight: bolder;
    margin: 20px;
  }

  .features .price {
    font-size: 2em;
  }

  .advantage mat-icon {
    font-size: 8em;
  }

  .header h1 {
    font-size: 4em;
  }

  .header p {
    font-size: 1.5em;
  }

  .package, .advantage {
    max-width: 400px !important;
  }

  .banner-img {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .banner-img {
    width: 40%;
  }

  .banner-div {
    height: 55vh;
  }
}

@media only screen and (min-width: 1366px) {

  .demo-button {
    padding: 1rem;
    font-size: 2em;
    width: 25%;
    z-index: 99;
  }

  .advantages {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  .package-name {
    font-size: 5em;
    font-weight: bolder;
    margin: 20px;
  }

  .features .price {
    font-size: 2em;
  }

  .advantage mat-icon {
    font-size: 8em;
  }

  .header h1 {
    font-size: 4em;
  }

  .header p {
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.5em;
  }

  .package, .advantage {
    max-width: 400px !important;
  }

  .banner-img {
    width: 30%;
  }
}

@media only screen and (min-width: 1440px) {
  .advantages {
    padding-left: 18% !important;
    padding-right: 18% !important;
  }
}
