<img class="banner-img" src="/assets/mockup.jpg">
<div class="row header overlay-text">
    <h1>Dijital Menü Nedir?</h1>
    <p>Dijital Menü; Kafe, Restoran ve Oteller için yeni nesil menüdür. İşletmenizde Dijital Menü kullanarak ürünlerinizi baskı maliyetine katlanmaksızın sunabilir, müşteri memnuniyetini ve
        satışlarınızı arttırabilirsiniz.</p>
    <button type="button" [routerLink]="['/menu']" class="btn mt-3 btn-danger demo-button">Dijital Menü Demo</button>
</div>
<div class="row header">
    <h1>Dijital Menü Avantajları</h1>
</div>
<div class="row w-100 m-0 d-flex justify-content-center">
    <div class="col-sm-3 col-md-5 shadow advantage m-3">
        <mat-icon>money_off</mat-icon>
        <h1>Maliyetten Kazanın</h1>
        <p>Artık her fiyat veya içerik güncellemenizde menü değiştirmekten veya yanına ekstra menü yaptırmaktan kurtulun. İçeriklerinizi maliyetsizce güncelleyin.</p>
    </div>
    <div class="col-sm-3 col-md-5 shadow advantage m-3">
        <mat-icon>speed</mat-icon>
        <h1>İş Yükünüzü Azaltın</h1>
        <p>Dijital Menü sayesinde iş yükünü azaltabilecek ve müşterilerinizi bekletmeyeceksiniz.</p>
    </div>
    <div class="col-sm-3 col-md-5 shadow advantage m-3">
        <mat-icon>sync</mat-icon>
        <h1>Sürekli Güncel Kalın</h1>
        <p>Sınırsız içerik güncelleme hakkı. Yönetim paneli üzerinden yağtığınız tüm değişiklikler anında müşterilerinize yansır.</p>
    </div>
    <div class="col-sm-3 col-md-5 shadow advantage m-3">
        <mat-icon>nature_people</mat-icon>
        <h1>Çevre Dostu Olun</h1>
        <p>Dijital Menü kullanarak doğayı korumaya destek olun.</p>
    </div>
    <div class="col-sm-3 col-md-5 shadow advantage m-3">
        <mat-icon>app_blocking</mat-icon>
        <h1>Uygulama İndirmeden</h1>
        <p>Üstelik Dijital Menü'nün bu özelliklerini müşterilerinize sunabilmek için herhangi bir uygulama indirmelerine gerek yok.</p>
    </div>
    <div class="col-sm-3 col-md-5 shadow advantage m-3">
        <mat-icon>share</mat-icon>
        <h1>Sosyal Medyada Paylaş</h1>
        <p>Dijital Menünün linkini veya kare kodunu sosyal medya üzerinden paylaşabilirsiniz.</p>
    </div>
</div>
<br>
<br>
<hr>
<div class="row header">
    <h1>PAKETLER</h1>
</div>
<div class="row w-100 m-0 mb-5 features d-flex justify-content-center">
    <div class="col-sm-3 col-md-5 m-3 shadow package rounded-lg">
        <br>
        <h1 class="package-name">STD</h1>
        <br>
        <h1 class="price">15 $<sub> / ay</sub></h1>
        <hr>
        <div class="offer">
            <mat-list>
                <mat-list-item><p><mat-icon>qr_code_2</mat-icon> QR okutarak menüyü açma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>tap_and_play</mat-icon> QR WIFI</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>settings_applications</mat-icon> Ürün ekleme çıkarma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>low_priority</mat-icon> Ürün ve kategorileri sıralama</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>school</mat-icon> Sistem kullanım eğitimi</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>access_time</mat-icon> 7 / 24 Kesintisiz Destek</p></mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
        <div class="not-offer">
            <mat-list>
                <mat-list-item><p><mat-icon>thumb_up</mat-icon> Ürün beğenme</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>favorite</mat-icon> Favorilere ekleme</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>loyalty</mat-icon> Kampanya oluşturma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>sync</mat-icon> Güncellemeler</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>grading</mat-icon> Kolay geri bildirim</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>local_offer</mat-icon> Indirim Kuponu Oluşturma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>assignment_turned_in</mat-icon> Rezervasyon Özelliği</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>share</mat-icon> Sosyal medya paylaşımı</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>analytics</mat-icon> Raporlar ve Müşteri Analizleri</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>emoji_emotions</mat-icon> Mutluluk seviyesi</p></mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>

            <button type="button" class="btn btn-lg btn-outline-success">Hemen Al</button>
        </div>
    </div>
    <div class="col-sm-3 col-md-5 m-3 shadow package rounded-lg">
        <br>
        <h1 class="package-name">PRO</h1>
        <br>
        <h1 class="price">20 $<sub> / ay</sub></h1>
        <hr>
        <div class="offer">
            <mat-list>
                <mat-list-item><p><mat-icon>qr_code_2</mat-icon> QR okutarak menüyü açma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>tap_and_play</mat-icon> QR WIFI</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>settings_applications</mat-icon> Ürün ekleme çıkarma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>low_priority</mat-icon> Ürün ve kategorileri sıralama</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>school</mat-icon> Yönetim paneli eğitimi</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>access_time</mat-icon> 7 / 24 Kesintisiz Destek</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>thumb_up</mat-icon> Ürün beğenme</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>favorite</mat-icon> Favorilere ekleme</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>loyalty</mat-icon> Kampanya oluşturma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>sync</mat-icon> Güncellemeler</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>grading</mat-icon> Kolay geri bildirim</p></mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
        <div class="not-offer">
            <mat-list>
                <mat-list-item><p><mat-icon>local_offer</mat-icon> Indirim Kuponu Oluşturma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>assignment_turned_in</mat-icon> Rezervasyon Özelliği</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>share</mat-icon> Sosyal medya paylaşımı</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>analytics</mat-icon> Raporlar ve Müşteri Analizleri</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>emoji_emotions</mat-icon> Mutluluk seviyesi</p></mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>

            <button type="button" class="btn btn-lg btn-outline-success">Hemen Al</button>
        </div>
    </div>
    <div class="col-sm-3 col-md-5 m-3 shadow package rounded-lg">
        <br>
        <h1 class="package-name">VIP</h1>
        <br>
        <h1 class="price">25 $<sub> / ay</sub></h1>
        <hr>
        <div class="offer">
            <mat-list>
                <mat-list-item><p><mat-icon>qr_code_2</mat-icon> QR okutarak menüyü açma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>tap_and_play</mat-icon> QR WIFI</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>settings_applications</mat-icon> Ürün ekleme çıkarma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>low_priority</mat-icon> Ürün ve kategorileri sıralama</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>school</mat-icon> Yönetim paneli eğitimi</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>access_time</mat-icon> 7 / 24 Kesintisiz Destek</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>thumb_up</mat-icon> Ürün beğenme</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>favorite</mat-icon> Favorilere ekleme</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>loyalty</mat-icon> Kampanya oluşturma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>sync</mat-icon> Güncellemeler</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>grading</mat-icon> Kolay geri bildirim</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>local_offer</mat-icon> Indirim Kuponu Oluşturma</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>assignment_turned_in</mat-icon> Rezervasyon Özelliği</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>share</mat-icon> Sosyal medya paylaşımı</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>analytics</mat-icon> Raporlar ve Müşteri Analizleri</p></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><p><mat-icon>emoji_emotions</mat-icon> Mutluluk seviyesi</p></mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>

            <button type="button" class="btn btn-lg btn-outline-success">Hemen Al</button>
        </div>
    </div>
</div>
