.active-category {
  background-color: black;
}

.category-name {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.edit-delete-container {
  display: flex;
}

.prduct-img {
  width: 100%;
}

.item {
  position: relative;
  color: aliceblue;
  margin: 35px 5px 5px 25px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #343A40;
  align-items: center;
}

.img-container {
  position: relative;
  width: 20%;
}
.img-container:after {
  content: "";
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.img-container img {
  position: absolute; /* Take your picture out of the flow */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; /* Make the picture taking the size of it's parent */
  width: 100%; /* This if for the object-fit */
  height: 100%; /* This if for the object-fit */
  object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
  object-position: center;
}

.item_desc {
  width: 70px;
  color: white;
  margin-right: 5px;
  background-color: #00796B;
  padding: 4px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.drag-indicator {
  cursor: move;
}

.save-order {
  width: 48%;
}

.add-product {
  width: 48%;
}

.item-action-group mat-icon {
  font-size: 2em;
  width: 100%;
}

.item-action-group {
  text-align: right;
}

.description-in-the-middle {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .item-action-group mat-icon{
    margin: 5px 0;
  }

  .description-in-the-middle {
    display: initial;
  }

  .description-bottom {
    display: none;
  }
}

@media only screen and (min-width: 1336px) {
  .categories {
    height: 75vh;
    overflow: scroll;
  }

  .description-bottom {
    display: none;
  }
}
