<div class="row my-3 mx-0 justify-content-center">

<!--    <div style="background-color: lightgrey" class="col-11 px-0 py-2 rounded row"> &lt;!&ndash; DashBoard Alanı &ndash;&gt;-->

        <div class="col-sm-3 col-md-5 col-lg-3 mt-2 categories" cdkDropList (cdkDropListDropped)="arrangeCategory($event)">

            <button *ngIf="userService.isOrderEnabled" [ngClass]="{'btn-success': categoriesArranged, 'btn-secondary': !categoriesArranged}"
                    (click)="categoryArrangeSave()" class="w-100 btn mb-1">Sıralamayı Kaydet</button>

            <button (click)="addCategoryClick()"
                    class="btn btn-outline-dark py-2 mb-2 w-100">Kategori Ekle</button>

            <div style="background-color: #F4511E" class="d-flex justify-content-around py-1 rounded">
                <span class="cat-prod-count-span">{{categoryCount}} Kategori</span>
                <span class="cat-prod-count-span">{{totalProductCount}} Ürün</span>
            </div>

            <div cdkDrag [cdkDragDisabled]="!userService.isOrderEnabled" *ngFor="let category of categoryService.categories; let i = index">
                <div (click)="categoryClick(category)"
                     [ngClass]="{'active-category': this.categoryService.currentCategory?.id == category.id}"
                     class="btn btn-dark w-100 my-1 px-1 py-2 category-container">
                    <div style="display: flex; align-items: center">
                        <mat-icon class="drag-indicator mr-1" *ngIf="userService.isOrderEnabled" cdkDragHandle>drag_indicator</mat-icon>
                        <span style="text-align: left">{{category.name}}</span>
                    </div>
                    <div class="category-edit-delete-container">
                        <mat-icon (click)="editCategoryClick(category, i)">edit</mat-icon>
                        <mat-icon (click)="onCategoryDelete(category, i)" style="color: #F4511E;">delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div id="category-name" class="col-sm-9 col-md-7 col-lg-9" cdkDropList (cdkDropListDropped)="arrangeProduct($event)" *ngIf="categoryService.currentCategory" style="overflow-y: scroll; height: 75vh">

            <div class="bg-dark p-3 mt-3 rounded category-name">
                {{categoryService.currentCategory?.name}}
                <mat-icon class="product-count-icon" matBadge="{{categoryProductCount}}"
                          matBadgeSize="small">view_carousel</mat-icon>
            </div>
            <div class="row mx-0 my-3 justify-content-between">
                <button class="btn save-order" [ngClass]="{'btn-secondary': !productsArranged, 'btn-success': productsArranged}"
                        *ngIf="userService.isOrderEnabled" (click)="productArrangeSave()">Sıralamayı Kaydet</button>
                <button (click)="addItem()" class="btn add-product btn-outline-dark">Ürün Ekle</button>
            </div>

            <div cdkDrag [cdkDragDisabled]="!userService.isOrderEnabled" class="row my-2 mx-0 p-1 item" *ngFor="let item of categoryService.currentCategory?.products; let i = index">

                <div class="row m-0 p-0 w-100">
                    <div class="col-3 col-lg-3 p-1 h-25">
                        <img class="product-img" [src]="item.imgUrl ? item.imgUrl : '../../assets/no-image.jpg'" alt="{{item.name}}">
                    </div>
                    <div class="col-7 col-lg-8 p-1">
                        <div class="row m-0">
<!--                            <p class="item_desc">Başlık</p>-->
                            <h3 class="font-weight-bold px-2 py-1 rounded item-name">{{item.name}}</h3>
                        </div>
                        <div class="row no-gutters description-desktop">
                            <p class="font-italic p-2 rounded item-description">{{item.description}}</p>
                        </div>
                        <div class="row m-0 justify-content-center">
                            <p class="item-price align-self-center p-2 rounded" style="font-size: 16px; font-weight: bold">Fiyat: {{item.price}} TL</p>
                        </div>
                    </div>
                    <div class="col-2 col-lg-1 p-1 item-action-group">
                        <mat-icon *ngIf="userService.isOrderEnabled" cdkDragHandle>view_headline</mat-icon>
                        <mat-icon (click)="editItem(item)">edit</mat-icon>
                        <mat-icon class="text-danger" (click)="deleteItem(item, i)">delete</mat-icon>
                    </div>
                    <div class="row m-1 p-0 w-100 description-mobile">
                        <p class="w-100 p-2 rounded font-italic item-description-mobile">{{item.description}}</p>
                    </div>
                </div>
            </div>

        </div>

<!--    </div>-->
</div>
