<div class="container p-3">
	<h2 class="w-100 text-center">Toplu Fiyat Güncelleme</h2>
	<p class="description">Toplu fiyat güncelleme ile tüm ürünlerin fiyatları tek seferde güncellemiş olursunuz. Fiyatlar buçuğa veya tam fiyatlara yuvarlanır.</p>
	<div class="row w-100 m-0 d-flex justify-content-center">
		<p>Miktar</p>
		<mat-slide-toggle class="mx-3"
			[checked]="bulkPriceUpdateRequest.percent"
			(change)="bulkPriceUpdateRequest.percent = !bulkPriceUpdateRequest.percent"
			color="warn"></mat-slide-toggle>
		<p>Oran</p>
	</div>
	<div class="row w-100 m-0 d-flex justify-content-center">
		<p>Azalt</p>
		<mat-slide-toggle class="mx-3"
			[checked]="isIncrease"
			(change)="isIncrease = !isIncrease"
			color="warn"></mat-slide-toggle>
		<p>Arttır</p>
	</div>
	<p class="w-100 text-center">Alttaki kutucuğa miktar veya oran giriniz.</p>
	<mat-form-field class="row w-100 m-0 d-flex justify-content-center">
		<input matInput
			class="w-100"
			type="number"
			min="0"
			max="100"
			[(ngModel)]="bulkPriceUpdateRequest.amount"
			[ngModelOptions]="{standalone: true}"/>
	</mat-form-field>
	<div class="row w-100 m-0 d-flex justify-content-between">
		<button (click)="saveClick()" class="btn btn-success form-button">Kaydet</button>
		<button (click)="cancelClick()" class="btn btn-danger form-button">İptal</button>
	</div>
</div>
