<img class="banner-img" src="../../../../assets/s20.png" data-aos="fade-right">
<div id="what-is-afiyyet-mobile" class="row w-100 what-is-menu-mobile overlay-text">
    <h1>Akıllı Menü Nedir?</h1>
    <p style="text-align: justify-all">Akıllı Menü, EverCode tarafından geliştirilmiş cafe ve restoranların menü içeriklerini müşterilerine
        dinamik
        ve dijital bir şekilde sunma olanağı tanır. Sağladığı müşteri deneyimine ve işletme sahibine yönelik
        özellikleri ile sektörün en iyisi konumundadır. İşletmeniz için Akıllı Menü entegrasyonu yapmak oldukça
        kolaydır. Dakikalar içinde işletme hesabınızı oluşturabilir, menü içeriklerinizi ekleyebilirsiniz.</p>
    <button type="button" [routerLink]="['/menu/cazibecafe']" class="btn mt-5 btn-outline demo-button-mobile">
        AKILLI MENÜ DEMO
    </button>
</div>

<div id="advantages" class="row w-100 title">
    <h1>Akıllı Menü Avantajları</h1>
</div>
<div class="row w-100 m-0 advantages d-flex justify-content-center">
    <div class="col-sm-3 col-md-7 col-lg-3 shadow advantage m-3"
         *ngFor="let advantage of advantages">
        <mat-icon>{{advantage.icon}}</mat-icon>
        <h1>{{advantage.title}}</h1>
        <p>{{advantage.decription}}</p>
    </div>
</div>
<br>
<br>
<hr>
<div id="features" class="row w-100 title">
    <h1>Özellikler</h1>
</div>
<div class="row w-100 m-0 px-0 py-3 d-flex justify-content-center">
    <div class="col-sm-3 col-md-5 col-lg-3 m-3 p-3 feature text-center border rounded-lg"
         *ngFor="let feature of features; let i = index;">
        <mat-icon [style.color]="colors[i%colors.length]">{{feature.icon}}</mat-icon>
        <h3>{{feature.title}}</h3>
    </div>
</div>
<br>
<br>
<hr>
<div id="packages" class="row w-100 title">
    <h1>Paketler</h1>
</div>
<div class="row w-100 m-0 mb-5 features d-flex justify-content-center">
    <div class="col-sm-3 col-md-5 col-lg-3 m-3 shadow package rounded-lg">
<!--        <h1 class="discount-text">-->
<!--            <del>14,90$</del>-->
<!--            33% İndirim-->
<!--        </h1>-->
<!--        <hr>-->
        <h1 class="package-name">STD</h1>
        <p class="package-description">Menünüzü dijitalleştirin</p>
        <br>
<!--        <div class="row w-100 m-0 offer text-white">-->
<!--            <div class="col">-->
<!--                <p class="currency">$</p>-->
<!--            </div>-->
<!--            <div class="col text-center d-flex align-items-center">-->
<!--                <p class="price">9,90</p>-->
<!--            </div>-->
<!--            <div class="col d-flex align-content-end">-->
<!--                <p class="unit">/ ay</p>-->
<!--            </div>-->
<!--        </div>-->
        <!--        <button type="button" class="btn btn-outline-light btn-lg">Hemen Al</button>-->
        <hr class="bottom-hr">
        <div class="offer-features">
			<mat-list>
			    <mat-list-item *ngFor="let feature of features.slice(0, 7)">
			        <p><mat-icon>{{feature.icon}}</mat-icon> {{feature.title}}</p>
			        <mat-divider></mat-divider>
			    </mat-list-item>
			</mat-list>
		</div>
        <div class="not-offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features.slice(7)">
					<p><mat-icon>{{feature.icon}}</mat-icon> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="col-sm-3 col-md-5 col-lg-3 m-3 shadow package rounded-lg">
<!--        <h1 class="discount-text">-->
<!--            <del>21,90$</del>-->
<!--            30% İndirim-->
<!--        </h1>-->
<!--        <hr>-->
        <h1 class="package-name">PRO</h1>
        <p class="package-description">Vizyoner işletme imajınızla fark yaratın</p>
        <br>
<!--        <div class="row w-100 m-0 offer text-white">-->
<!--            <div class="col">-->
<!--                <p class="currency">$</p>-->
<!--            </div>-->
<!--            <div class="col text-center d-flex align-items-center">-->
<!--                <p class="price">14,90</p>-->
<!--            </div>-->
<!--            <div class="col d-flex align-content-end">-->
<!--                <p class="unit">/ ay</p>-->
<!--            </div>-->
<!--        </div>-->
        <!--        <button type="button" class="btn bg-light btn-lg">Hemen Al</button>-->
        <hr class="bottom-hr">
        <div class="offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features.slice(0,12)">
					<p><mat-icon>{{feature.icon}}</mat-icon> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="not-offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features.slice(12)">
					<p><mat-icon>{{feature.icon}}</mat-icon> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="col-sm-3 col-md-10 m-3 col-lg-3 shadow package rounded-lg">
<!--        <h1 class="discount-text">-->
<!--            <del>28,90$</del>-->
<!--            30% İndirim-->
<!--        </h1>-->
<!--        <hr>-->
        <h1 class="package-name">VIP</h1>
        <p class="package-description">Kontrol tamamen sizde</p>
        <br>
<!--        <div class="row w-100 m-0 offer text-white">-->
<!--            <div class="col">-->
<!--                <p class="currency">$</p>-->
<!--            </div>-->
<!--            <div class="col text-center d-flex align-items-center">-->
<!--                <p class="price">19,90</p>-->
<!--            </div>-->
<!--            <div class="col d-flex align-content-end">-->
<!--                <p class="unit">/ ay</p>-->
<!--            </div>-->
<!--        </div>-->
        <!--        <button type="button" class="btn btn-outline-light btn-lg">Hemen Al</button>-->
        <hr class="bottom-hr">
        <div class="offer-features">
            <mat-list>
                <mat-list-item *ngFor="let feature of features">
					<p><mat-icon>{{feature.icon}}</mat-icon> {{feature.title}}</p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>
<br>
<hr>
<div id="contact" class="row w-100 title">
    <h1>İletişim</h1>
</div>
<div class="row w-100 mx-0 mb-5 d-flex justify-content-center">
    <form [formGroup]="contactForm" class="col-sm-12 col-md-12 col-lg-7">
        <div class="row w-100 m-0 d-flex justify-content-center">
            <div class="col-10 col-md-5 col-lg-5">
                <mat-form-field class="w-100 my-3">
                    <mat-label>İsim Soyisim</mat-label>
                    <input formControlName="fullName" name="fullName" matInput placeholder="İsim Soyisim..."
                           required>
                </mat-form-field>
            </div>
            <div class="col-10 col-md-5 col-lg-5">
                <mat-form-field class="w-100 my-3">
                    <mat-label>Telefon</mat-label>
                    <input type="tel" formControlName="phoneNumber" matInput placeholder="5555551234" required>
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="w-100 my-3">
                    <mat-label>Konu</mat-label>
                    <input formControlName="subject" name="subject" matInput placeholder="Konu..." required>
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="w-100 my-3">
                    <mat-label>Mesajınız</mat-label>
                    <textarea formControlName="message" name="message" matInput placeholder="Mesajınız..."
                              required></textarea>
                </mat-form-field>
            </div>

            <button (click)="onSubmit()" class="col-6 py-2 submit-button btn">Gönder</button>
        </div>
    </form>
</div>
<div class="mx-5 my-3 d-flex row justify-content-around p-0 align-items-center">
    <div class="m-2"><span style="font-weight: bold;font-size: 16px; color: #F4511E">İstanbul Şubemiz: </span><span>+90 506 110 74 43</span>
    </div>
    <div class="m-2"><span style="font-weight: bold;font-size: 16px; color: #F4511E">Kocaeli Şubemiz: </span><span>+90 553 158 54 53</span>
    </div>
    <div class="d-flex align-items-center m-2">
        <mat-icon style="transform: scale(1.1); margin-right: 5px; color: #F4511E">mail</mat-icon>
        <span style="font-size: 15px">info&#64;evercode.net</span>
    </div>
</div>
