<div class="row pb-2 m-0 justify-content-center w-100 no-gutters">
    <button style="background-color: black; color: white; border-radius: 0"
            class="btn col-4 py-1" (click)="menuClick(0)">Menü Düzenle</button>
    <button style="background-color: black; color: white; border-radius: 0"
            class="btn col-4 py-1" (click)="menuClick(1)">Raporlar</button>
    <button style="background-color: black; color: white; border-radius: 0"
            class="btn col-4 py-1" (click)="menuClick(2)">QR Kodum</button>
</div>
<div class="no-gutters">
    <div class="row my-3 justify-content-center">

        <div style="background-color: lightgrey" class="col-11 px-0 py-2 rounded"> <!-- DashBoard Alanı -->

            <div class="row m-0" *ngIf="currentMenuIndex === 0"> <!-- Menu Duzenle Alanı -->

                <div style="overflow-y: scroll; height: 75vh" cdkDropList (cdkDropListDropped)="arrangeCategory($event)" class="col-3">

                    <button [ngClass]="{'btn-success': categoriesArranged, 'btn-secondary': !categoriesArranged}"
                            (click)="categoryArrangeSave()" class="col-12 btn mb-1">Sıralamayı Kaydet</button>

                    <button (click)="addCategoryClick()"
                            class="btn btn-outline-dark py-2 px-3 mb-2 w-100">Kategori Ekle</button>

                    <button (click)="companySelected()"
                            class="btn btn-dark py-2 px-3 mb-2 w-100">KAMPANYALAR</button>

                    <div cdkDrag *ngFor="let category of categoryService.categories; let i = index">
                        <div (click)="categoryClick(category)"
                             [ngClass]="{'active-category': this.categoryService.currentCategory?.id == category.id}"
                             style="display: flex; justify-content: space-between; align-items: center" class="btn btn-dark w-100 my-1 px-1 py-2">
                            <div style="display: flex; align-items: center">
                                <mat-icon cdkDragHandle class="mr-1">drag_indicator</mat-icon>
                                <span style="text-align: left">{{category.name}}</span>
                            </div>
                            <div>
                                <mat-icon (click)="editCategoryClick(category)">edit</mat-icon>
                                <mat-icon (click)="onCategoryDelete(category, i)" style="color: #F4511E;">delete</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-9" cdkDropList (cdkDropListDropped)="arrangeProduct($event)"
                     *ngIf="categoryService.currentCategory" style="overflow-y: scroll; height: 75vh">

                    <div class="row mx-1 p-0 justify-content-between">
                        <div class="col-8 bg-dark rounded category-name">{{categoryService.currentCategory?.name}}
                        </div>

                        <button [ngClass]="{'btn-secondary': !productsArranged, 'btn-success': productsArranged}"
                                (click)="productArrangeSave()" class="col-3 btn">Sıralamayı Kaydet</button>
                    </div>

                    <div class="row m-1 p-2 justify-content-center">
                        <button (click)="addItem()"
                                class="btn btn-outline-dark py-3 px-5">Kategoriye Ürün Ekle</button>
                    </div>

                    <div cdkDrag class="row my-2 mx-1 item px-2 py-2"
                         *ngFor="let item of categoryService.currentCategory?.items; let i = index">
                        <img class="item-img col-3 pl-0" [src]="item.imgUrl ? environment.baseCdnUrl + item.imgUrl : '../../assets/no-image.jpg'" alt="{{item.name}}">
                        <div class="col-8">
                            <div class="row">
                                <p class="item_desc">Başlık</p><h3 class="mb-2 align-self-center font-weight-bold">{{item.name}}</h3>
                            </div>
                            <div class="row">
                                <p class="item_desc">İçerik</p><p class="description mb-2 font-italic align-self-center">{{item.description}}</p>
                            </div>
                            <div class="row">
                                <p class="item_desc">Fiyat</p><p class="item-price align-self-center">{{item.price}}</p>
                            </div>
                        </div>
                        <div class="col-1">
                            <mat-icon (click)="editItem(item)" style="font-size: 30px;">edit</mat-icon>
                            <mat-icon (click)="deleteItem(item, i)" style="font-size: 30px; color: #F4511E">delete</mat-icon>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
