<div class="container-fluid">
    <div class="row my-3">
        <div style="background-color: white" class="col-2 py-2">
            <button class="btn btn-dark w-100 my-1" (click)="menuClick(0)">Menü Düzenle</button>
            <button class="btn btn-dark w-100 my-1" (click)="menuClick(1)">Raporlar</button>
            <button class="btn btn-dark w-100 my-1" (click)="menuClick(2)">QR Kodum</button>
        </div>
        <div style="background-color: lightgrey" class="col-9 px-0 py-2 rounded">

            <div class="row m-0">

                <div *ngIf="openIndex === 0" cdkDropList (cdkDropListDropped)="drop($event)" class="col-3">
                    <div cdkDrag *ngFor="let category of categories; let i = index">
                        <div (click)="categoryClick(i)" style="display: flex; align-items: center" class="btn btn-dark w-100 my-1 px-1">
                            <mat-icon cdkDragHandle class="mr-1">drag_indicator</mat-icon>
                            <span>{{category.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-9" *ngIf="selectedCategoryIndex >= 0">

                    <input style="text-align: center" type="text" class="form-control" value="{{categories[selectedCategoryIndex].name}}"/>

                    <div class="row m-1 p-2 justify-content-center">
                        <button class="btn btn-dark">Kategoriye Ürün Ekle</button>
                    </div>

                    <div class="row my-2 mx-1 item px-2 py-3"
                         *ngFor="let item of categories[selectedCategoryIndex].items">
                        <img class="item-img h-100 col-3" src="{{item.image}}" alt="{{item.name}}">
                        <div class="col-9">
                            <input class="form-control mb-2" value="{{item.name}}" />
                            <textarea value="{{item.content}}" class="description form-control mb-2"></textarea>
                            <input value="{{item.price}}" class="item-price form-control">
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
