<h3 class="my-1" style="text-align: center">Favorilerim</h3>
<p class="empty-favorites-text" *ngIf="!storageService.favorites.length">Favori ürünlerinizi buraya eklemek için ürün üzerindeki kalbe dokunun :)</p>
<div class="m-1 p-0 myfavorites justify-content-center">
    <div class="item m-1 p-0 overflow-hidden"
         *ngFor="let item of favoriteService.getFavorites()">
        <img [routerLink]="['/menu/item']" (click)="storageService.setItem('item', item)" class="item-img" src="{{item.imgUrl}}" alt="">
        <div class="w-100 m-0 p-1 fav-like-price-container">
            <div class="row w-100 m-0 text-white">
                <div class="col border-right border-white d-flex justify-content-center align-items-center"
                     [routerLink]="['/menu/item']"
                     (click)="storageService.setItem('item', item)">
                    {{item.price}}&nbsp;<sub>TL</sub>
                </div>
                <div class="col d-flex justify-content-center align-items-center"
                    (click)="onLike(item)">{{item.likes}}&nbsp;
                    <mat-icon [ngClass]="{'active': (storageService.getItem('likes') || []).includes(item.id)}"
                              style="vertical-align: middle;margin-bottom: 3px">thumb_up_alt</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="m-0 p-0">
<h3 class="my-1" style="text-align: center">Kampanyalar</h3>

<div class="m-1 p-0 camp_items justify-content-center">
    <div class="camp_item m-1 p-0"
         *ngFor="let item of menuService.menu.campaigns">
        <img [routerLink]="['/menu/item']" (click)="storageService.setItem('item', item)" class="camp-item-img" src="{{item.imgUrl}}" alt="">

        <p [routerLink]="['/menu/item']" (click)="storageService.setItem('item', item)" class="p-1 camp-item-name">{{item.name}}</p>

        <div class="w-100 camp-like-price-container p-0">

            <div class="row w-100 m-0 p-1 text-white">
                <div class="col border-right border-white d-flex justify-content-center align-items-center"
                    [routerLink]="['/menu/item']"
                    (click)="storageService.setItem('item', item)">
                    {{item.price}}&nbsp;<sub>TL</sub>
                </div>
                <div class="col d-flex justify-content-center align-items-center"
                    (click)="onLike(item)">{{item.likes}}&nbsp;
                    <mat-icon [ngClass]="{'active': (storageService.getItem('likes') || []).includes(item.id)}"
                            style="vertical-align: middle;margin-bottom: 3px">thumb_up_alt</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="m-0 p-0">
<h3 class="my-2" style="text-align: center">Menü</h3>
<div class="row m-1 justify-content-center">
    <div class="m-1 p-0 category"
         *ngFor="let category of menuService.menu.categories"
         (click)="menuService.currentCategory = category"
        [routerLink]="['/submenu']">
        <img class="category-img" src="{{category.imgUrl}}" alt="">
        <p class="category-name">{{category.name}}</p>
    </div>
</div>
