<h3 *ngIf="menuService.isCampEnabled && menuService.menu?.campaigns" class="my-1 text-center">Kampanyalar</h3>
<div *ngIf="menuService.isCampEnabled" class="m-1 p-0 camp_items justify-content-center">
    <div class="camp_item m-1 p-0"
         *ngFor="let item of menuService.menu?.campaigns">
        <img class="camp-item-img" src="{{item.imgUrl}}"
             #image (error)="image.onerror=null; image.src = 'assets/no-image.jpg';"
             (click)="campaignClick(item)"
             [routerLink]="['kampanyalar/' + item.name.toLowerCase().replaceAll(' ', '-')]">

        <p class="p-1 camp-item-name"
           (click)="campaignClick(item)"
           [routerLink]="['kampanyalar/' + item.name.toLowerCase().replaceAll(' ', '-')]">{{item.name}}</p>

        <div class="w-100 camp-like-price-container p-0">

            <div class="row w-100 m-0 p-1 text-white">
                <div class="col d-flex justify-content-center align-items-center"
                     (click)="campaignClick(item)"
                     [routerLink]="['kampanyalar/' + item.name.toLowerCase().replaceAll(' ', '-')]">{{item.price}}&nbsp;₺</div>
                <div *ngIf="menuService.isLikeEnabled" class="col d-flex border-left border-white justify-content-center align-items-center"
                     (click)="onLike(item)">{{item.likes}}&nbsp;
                    <mat-icon [ngClass]="{'active': menuLocalService.getLikes().includes(item.id)}"
                              style="vertical-align: middle;margin-bottom: 3px">thumb_up_alt
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<hr *ngIf="menuService.isCampEnabled" class="m-0 p-0">

<h3 *ngIf="menuService.isLikeEnabled" class="my-1" style="text-align: center">En Çok Beğenilenler</h3>
<div *ngIf="menuService.isLikeEnabled" class="m-1 p-0 myfavorites justify-content-center">
    <div class="item m-1 p-0 overflow-hidden"
         *ngFor="let item of menuService.getMostPopulars()">
        <img class="item-img" src="{{item.imgUrl}}"
             #image (error)="image.onerror=null; image.src = 'assets/no-image.jpg';"
             (click)="productClick(item)"
             [routerLink]="[item.categoryName.toLowerCase().replaceAll(' ', '-') + '/' + item.name.toLowerCase().replaceAll(' ', '-')]">

        <div class="w-100 m-0 p-1 fav-like-price-container">
            <div class="row w-100 m-0 text-white">
                <div *ngIf="menuService.isLikeEnabled" class="col d-flex justify-content-center align-items-center"
                     (click)="onLike(item)">{{item.likes}}&nbsp;
                    <mat-icon [ngClass]="{'active': menuLocalService.getLikes().includes(item.id)}" style="vertical-align: middle;margin-bottom: 3px">thumb_up_alt</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<hr *ngIf="menuService.isLikeEnabled" class="m-0 p-0">

<h3 *ngIf="menuService.isCampEnabled || menuService.isFavEnabled" class="my-2" style="text-align: center">Menü</h3>
<div class="row m-1 justify-content-center">
    <div class="m-1 p-0 category"
         *ngFor="let category of menuService.menu?.categories"
         (click)="categoryClick(category)"
         [routerLink]="[category.name.toLowerCase().replaceAll(' ','-')]">
        <img class="category-img" src="{{category.imgUrl}}"
             #image (error)="image.onerror=null; image.src = 'assets/no-image.jpg';">
        <p class="category-name">{{category.name}}</p>
    </div>
</div>
