<div class="row d-flex justify-content-center m-5">
    <div class="col-sm-3">
        <form action="http://localhost:8080/login">

            <div class="form-group">
                <label for="username">E-posta veya kullanıcı adı</label>
                <input [(ngModel)]="username" id="username" name="username" type="email" placeholder="E-posta veya kullanıcı adı">
            </div>

            <div class="form-group">
                <label for="password" class="w-100">Parola</label>
                <input [(ngModel)]="password" id="password" name="password" type="password" placeholder="Parola">
            </div>

            <!--        <p class="text-right"><a [routerLink]="['/auth/forget-password']">Froget password?</a></p>-->

            <div class="form-group">
                <mat-checkbox [(ngModel)]="isRememberCheck"
                              [ngModelOptions]="{standalone: true}">Beni hatırla</mat-checkbox>
            </div>

            <button (click)="onLogin()" class="btn-lg w-100 rounded-0" type="button">Giriş</button>
            <br>
            <br>
            <p class="text-center">Hesabınız yok mu? <a [routerLink]="['/register']">Kayıt Ol</a></p>

        </form>
    </div>
</div>
