<div class="row m-3">
    <div class="col">
        <div class="btn btn-lg btn-secondary w-100">Sıralamayı Kaydet</div>
    </div>
    <div class="col">
        <div class="btn btn-lg btn-outline-secondary w-100" [routerLink]="['/pages/admin/edit-table']">Yeni Masa Ekle</div>
    </div>
</div>
<br><br>
<button class="btn btn-danger float-right" *ngIf="isSelection" (click)="isSelection=false">İptal</button>
<div class="m-3" *ngFor="let tableGroup of tableGroups">
    <h3 class="text-center">{{tableGroup.name}}</h3>
    <hr>
    <div class="row">
        <div class="table border rounded-lg p-3 m-3" *ngFor="let table of tableGroup.tables"
             [ngClass]="{'table-open': table.isOpen, 'border-success': isSelection && sourceTable.id !== table.id }"
             (click)="onSelectTargetTable(table)"
             (dblclick)="onSelectTable(table)">
            <button class="table-more-options" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button class="table-more-options-button" mat-menu-item (click)="onActivateSelection(table)">
                    <mat-icon>forward</mat-icon>
                    <span>Taşı</span>
                </button>
                <button class="table-more-options-button" mat-menu-item (click)="onActivateSelection(table)">
                    <mat-icon>call_merge</mat-icon>
                    <span>Birleştir</span>
                </button>
            </mat-menu>
            <img class="table-img" src="../../../../assets/table.png" [alt]="table.name">
            <p class="text-center mt-3 mb-0">{{table.name}}</p>
        </div>
    </div>
</div>
