.table {
  position: relative;
  width: 150px;
  cursor: pointer;
}

.table-open {
  background-color: red;
  color: white;
}

.table-img {
  width: 100%;
}

.table-more-options {
  position: absolute;
  top: -5px;
  right: -5px;
  float: right;
}

.table-more-options {
  outline: none;
}

.table-more-options-button {
  outline: none;
}
