<div class="row">
	<form class="" [formGroup]="filterOrderForm">
		<div class="row mt-3 d-flex">
			<mat-form-field appearance="outline" class="col-3">
				<input matInput type="number" min="0" formControlName="id" placeholder="Id">
			</mat-form-field>
			<mat-form-field appearance="outline" class="col-3">
				<input type="text"
					placeholder="Bir ürün seçiniz"
					aria-label="Ürün"
					matInput
					formControlName="productSearch"
					[matAutocomplete]="auto">
				<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
					<mat-option *ngFor="let product of filteredProducts | async"
						[value]="product.name"
						(onSelectionChange)="onProductSelect(product)">
						{{ product.name }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<mat-form-field appearance="outline" class="col-3">
				<mat-select placeholder="Durum" formControlName="state">
					<mat-option value="WAITING_FOR_TABLE">Masayı Bekliyor</mat-option>
					<mat-option value="PREPARING">Hazırlanıyor</mat-option>
					<mat-option value="SERVED">Servis Edildi</mat-option>
					<mat-option value="COMPLETED">Tamamlandı</mat-option>
					<mat-option value="CANCELLED">İptal Edildi</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline" class="col-3">
			<mat-label>Masa</mat-label>
			<mat-select formControlName="table">
				<mat-option *ngFor="let table of tables" [value]="table.id">{{ table.name }}</mat-option>
			</mat-select>
		</mat-form-field>
		</div>

		<div class="row mt-3 d-flex">
			<mat-form-field appearance="outline" class="col-2">
				<mat-label>Başlama Tarihi</mat-label>
				<input matInput [matDatepicker]="picker1" placeholder="Başlama Tarihi" formControlName="startDate">
				<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
				<mat-datepicker #picker1></mat-datepicker>
			</mat-form-field>

			<mat-form-field appearance="outline" class="timePriceContainer col-1">
				<mat-label>Saat</mat-label>
				<input formControlName="startTime" matInput [ngxTimepicker]="toggleTimepicker1" [format]="24" readonly>
				<ngx-material-timepicker #toggleTimepicker1></ngx-material-timepicker>
			</mat-form-field>

			<mat-form-field appearance="outline" class="col-2">
				<mat-label>Bitiş Tarihi</mat-label>
				<input matInput [matDatepicker]="picker2" placeholder="Bitiş Tarihi" formControlName="endDate">
				<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
				<mat-datepicker #picker2></mat-datepicker>
			</mat-form-field>

			<mat-form-field appearance="outline" class="timePriceContainer col-1">
				<mat-label>Saat</mat-label>
				<input formControlName="endTime" matInput [ngxTimepicker]="toggleTimepicker2" [format]="24" required readonly>
				<ngx-material-timepicker #toggleTimepicker2></ngx-material-timepicker>
			</mat-form-field>

			<mat-form-field appearance="outline" class="col-3">
				<input matInput type="number" min="0" formControlName="minPrice" placeholder="Min Fiyat">
			</mat-form-field>
			<mat-form-field appearance="outline" class="col-3">
				<input matInput type="number" min="0" formControlName="maxPrice" placeholder="Max Fiyat">
			</mat-form-field>
		</div>
		<div class="row d-flex justify-content-end">
			<button class="btn btn-primary col-lg-3" (click)="onFilterOrder()">
				<mat-icon class="mt-2">search</mat-icon>
			</button>
		</div>
	</form>
</div>
<div class="row mt-3 mat-elevation-z8" *ngIf="orders">
	<table mat-table [dataSource]="orders" matSort (matSortChange)="announceSortChange($event)" class="w-100">

	<ng-container matColumnDef="position">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> No</th>
			<td mat-cell *matCellDef="let element"> {{ element.id }}</td>
		</ng-container>

		<ng-container matColumnDef="createdDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header> Tarih</th>
			<td mat-cell *matCellDef="let element"> {{ element.createdDate.slice(0, 19).replace("T", " ") }}</td>
		</ng-container>

		<ng-container matColumnDef="totalPrice">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Tutar</th>
			<td mat-cell *matCellDef="let element" class="text-center"> {{ element.totalPrice }}&nbsp;₺</td>
		</ng-container>

		<ng-container matColumnDef="tableId">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Masa</th>
			<td mat-cell *matCellDef="let element" class="text-center"> {{ getTableNameById(element.tableId) }}</td>
		</ng-container>

		<!--<ng-container matColumnDef="actions">-->
		<!--	<th mat-header-cell *matHeaderCellDef class="text-center"> Aksiyonlar</th>-->
		<!--	<td mat-cell *matCellDef="let element" class="text-center">-->
		<!--		<mat-icon *ngIf="element.state !== 'CANCELLED'" class="text-primary edit-order-item-icon">edit</mat-icon>-->
		<!--		<mat-icon *ngIf="element.state !== 'CANCELLED'" class="text-danger delete-order-item-icon">delete</mat-icon>-->
		<!--	</td>-->
		<!--</ng-container>-->

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row
			(click)="clickedRows.has(row) ? clickedRows.delete(row) : clickedRows.add(row)"
			[class.demo-row-is-clicked]="clickedRows.has(row)"
			*matRowDef="let row; columns: displayedColumns;"></tr>

	</table>
	<mat-paginator [pageSizeOptions]="[2, 3, 5]"
		showFirstLastButtons
		(page)="onPageChange($event)"
		aria-label="Select page of periodic elements">
	</mat-paginator>
</div>