<div class="row">
	<div class="col-2">
		<button class="pt-3 pb-1 menu-button col" [routerLink]="['orders']">
			<mat-icon>list</mat-icon>
			<span class="button-text">Siparişler</span>
		</button>
		<button class="pt-3 pb-1 menu-button col" [routerLink]="['orders']">
			<mat-icon>list</mat-icon>
			<span class="button-text">Miparişler</span>
		</button>
		<button class="pt-3 pb-1 menu-button col" [routerLink]="['orders']">
			<mat-icon>list</mat-icon>
			<span class="button-text">Xiparişler</span>
		</button>
	</div>
	<div class="col-10">
		<router-outlet></router-outlet>
	</div>
</div>