<div class="row my-2 mx-1 item px-2 py-3 justify-content-center align-items-center">

    <div style="cursor: pointer" class="col-sm-3 no-gutters">
        <img class="col-12" [src]="campaign.imgUrl ? campaign.imgUrl : '../../assets/no-image.jpg'" alt="{{campaign.name}}">
        <p *ngIf="!campaign.imgUrl" class="addimage">Resim Ekle</p>
        <input #imageInput type="file" class="file_upload_input" (change)="imageUpdateClick(imageInput)" />
    </div>
    <div class="col-6">
        <div class="form-group mb-2 row">
            <label for="name" class="col-2 col-form-label bg-dark input_label">Başlık</label>
            <input id="name" [(ngModel)]="campaign.name"
                   class="form-control col-10" value="{{campaign.name}}" />
        </div>
        <div class="form-group mb-2 row">
            <label for="description" class="col-2 col-form-label bg-dark input_label">İçerik</label>
            <textarea id="description" [(ngModel)]="campaign.description"
                      class="description form-control col-10">{{campaign.description}}</textarea>
        </div>
        <div class="form-group row">
            <label for="price" class="col-2 col-form-label bg-dark input_label">Fiyat</label>
            <input id="price" [(ngModel)]="campaign.price" value="{{campaign.price}}" class="item-price form-control col-10">
        </div>
    </div>
</div>
<div class="my-3" style="display: flex; justify-content: center">
    <button (click)="saveClick()"
            style="background-color: #00796B; color: white; padding: 20px 90px" class="btn">Kaydet</button>
</div>
