/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Optima, sans-serif; }
* {
  margin: 0;
  padding: 0;
}

.category-edit-dialog .mat-dialog-container {
  width: 85vw !important;
}

@media only screen and (min-width: 992px) {
  .category-edit-dialog .mat-dialog-container {
    width: 50vw !important;
  }
}
