/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }

h1 { font-family: Optima, sans-serif !important; }
h2 { font-family: Optima, sans-serif !important; }
h3 { font-family: Optima, sans-serif !important; }
h4 { font-family: Optima, sans-serif !important; }
h5 { font-family: Optima, sans-serif !important; }
h6 { font-family: Optima, sans-serif !important; }
span { font-family: Optima, sans-serif !important; }
p { font-family: Optima, sans-serif !important; }

* {
  margin: 0;
  padding: 0;
}

.category-edit-dialog .mat-dialog-container {
  width: 85vw !important;
}

@media only screen and (min-width: 992px) {
  .category-edit-dialog .mat-dialog-container {
    width: 50vw !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

mat-icon, p, h1, h3 {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
