<div class="row m-1 justify-content-center" *ngIf="favoriteService.getFavorites().length > 0">
    <h1 class="mt-2" style="text-align: center">Favorilerim</h1>
    <div class="col p-2 item align-content-end"
         *ngFor="let item of favoriteService.getFavorites()">

        <img class="item-img"
             [routerLink]="[item.name.toLowerCase().replaceAll(' ','-')]"
             (click)="productClick(item)"
             #image (error)="image.onerror=null; image.src = 'assets/no-image.jpg';"
             src="{{item.imgUrl}}" alt="{{item.name}}">
        <div class="d-flex flex-row justify-content-between">
            <div class="item-name"
                 [routerLink]="[item.name.toLowerCase().replaceAll(' ','-')]"
                 (click)="productClick(item)">
                <h3>{{item.name}}</h3>
            </div>
            <mat-icon *ngIf="menuService.isBasketEnabled" (click)="addBasket(item)">shopping_cart</mat-icon>
        </div>
        <hr class="item-line">
        <p class="description"
           [routerLink]="[item.name.toLowerCase().replaceAll(' ','-')]"
           (click)="productClick(item)">{{item.description}}</p>
        <div class="row w-100 m-0">
            <div class="col d-flex justify-content-center align-items-center"
                 [routerLink]="[item.name.toLowerCase().replaceAll(' ','-')]"
                 (click)="productClick(item)">{{item.price}}&nbsp;₺</div>
            <div class="col d-flex border-left border-white justify-content-center align-items-center">
                <mat-icon class="favorite" (click)="favoriteService.removeFavorite(item.id)">favorite</mat-icon>
            </div>
            <div *ngIf="menuService.isLikeEnabled" class="col border-left border-white d-flex justify-content-center align-items-center"
                 (click)="onLike(item)">{{item.likes}}&nbsp;
                <mat-icon [ngClass]="{'active': menuLocalService.getLikes().includes(item.id)}"
                          style="vertical-align: middle;margin-bottom: 3px">thumb_up_alt</mat-icon>
            </div>
        </div>
    </div>
</div>

<div class="h-100 d-flex align-items-center justify-content-center mx-4 text-center" *ngIf="favoriteService.getFavorites().length === 0">
    <span class="empty-basket-title">Favori ürünlerinizi buraya eklemek için ürün üzerindeki kalbe dokunun :)</span>
</div>
