<ul style="display: block; margin: 20px auto; list-style: none; width: 25%;" class="d-flex justify-content-around">
    <li>
        <button class="btn btn-dark" type="button" [routerLink]="['/menu']">Menu</button>
    </li>
    <li>
        <button class="btn btn-dark" type="button" [routerLink]="['/admin']">Admin</button>
    </li>
    <li>
        <button class="btn btn-dark" type="button" [routerLink]="['/login']">Login</button>
    </li>
    <li>
        <button class="btn btn-dark" type="button" [routerLink]="['/register']">Register</button>
    </li>
</ul>
