<div style="display: flex; flex-direction: column; justify-content: center">
    <h2 style="text-align: center">{{isInsert ? 'Yeni Kategori': 'Kategori Düzenleme'}}</h2>
    <div class="row" style="display: flex; align-items: center; justify-content: center">
        <div style="cursor: pointer" class="abd col-7 col-md-6 col-lg-4 mb-2 mb-md-2 no-gutters">
            <div class="img-container">
                <img [src]="category.imgUrl">
                <img class="attach" src="../../../../assets/cloud.jpg">
            </div>
            <p *ngIf="!category.imgUrl" class="addimage">Ekle</p>
            <input type="file" accept="image/*" class="file_upload_input" (change)="imageUpdateClick($event)" />
        </div>
        <input id="name" class="form-control col-10 col-md-8 col-lg-7" [(ngModel)]="category.name" value="{{category.name}}"/>
    </div>
    <div class="form-group m-0 p-2 w-100 row d-flex justify-content-between">
        <button (click)="saveClick()" class="btn btn-success form-button">Kaydet</button>
        <button (click)="cancelClick" class="btn btn-danger form-button">İptal</button>
    </div>
</div>
