<div style="display: flex; flex-direction: column; justify-content: center; padding: 0 40px; min-width: 400px">
    <h2 style="text-align: center">Yeni Kategori İsmi</h2>
    <input class="form-control" [(ngModel)]="categoryName" value="{{categoryName}}"/>
    <div style="display: flex;">
        <button (click)="saveClick()" style="flex: 1; margin: 10px 8px" class="btn btn-success">Kaydet</button>
        <button (click)="cancelClick()" style="flex: 1; margin: 10px 8px" class="btn btn-outline-light">İptal</button>
    </div>
</div>

